body {
	width: 100%;
	overflow-y: scroll;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

@media only screen and (min-width: 501px) {
	#header > img {
		margin-top: 20px;
	}

	.menu {
		background-color: #7fc6db;
		width: 100%;
		height: auto;
		position: absolute;
	}

	.fixed {
		position: fixed;
		top: 0;
		z-index: 50;
	}

	ul > li {
		float: left;
	}

	#bio {
		width: 700px;
		margin-top: 50px;
	}

	a#hideText:hover > span#showText {
		bottom: 3px;
		width: 125px;
	}

	#interests {
		height: auto;
	}

	#skills {
		margin: 15px 30px;
	}

	#hobbies {
		margin: 15px 30px;
	}

	.job {
		margin: 15px 30px;
	}

	#imgHolder  img {
		width: 60%;
		height: 55%;
	}

	.proj {
		width: 500px;
		margin: 15px 30px;
	}

	.proj p {
		width: 60%;
	}
}

@media only screen and (max-width: 500px) {
	#header > img {
		margin-top: 10px;
	}

	#header > .contact {
		padding-bottom: 15px;
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: 2px dotted #80766a;
	}

	ul > li {
		float: center;
	}

	#bio {
		width: 90%;
		margin-top: 10px;
	}

	a#hideText:hover > span#showText {
		bottom: 5px;
		left: 50px;
		width: 50px;
	}

	#interests {
		height: 680px;
	}

	#skills {
		margin: 15px 30px;
	}

	#hobbies {
		margin: 15px 30px;
		margin-top: 30px;
	}

	.job {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#imgHolder img {
		width: 80%;
		height: 75%;
	}

	.proj {
		width: 90%;
		margin-bottom: 20px;
	}

	.proj p {
		width: 80%;
	}
}

#header {
	height: 70%;
	width: 100%;
	text-align: center;
	background-color: #7fc6db;
}


#header > h1 {
	margin: auto;
	font-size: 35px;
	padding-top: 30px;
	color: #80766a;
}

#header > img {
	padding: 5px;
	border-radius: 50%;
	border: 5px dotted #eaf4f6;
}

.contact {
	margin-top: 15px;
}

#nav {
	padding-left: 5px;
	padding-right: 5px;
}

a#hideText {
	position: relative;
	text-decoration: none;
	z-index: 20;
}

a#hideText {
	z-index: 30;
}

span#showText {
	display: none;
}

a#hideText:hover > span#showText {
	display: inline-block;
	position: absolute;
	color: #80766a;
	text-align: center;
}

.menu > ul {
	list-style: none;
	display: inline-block;
	padding: 0px;
	margin-bottom: auto;
	margin-top: auto;
}

.menu ul > li {
	text-align: center;
}

#fosters {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: #80766a;
	text-decoration: none;
}

a:hover {
	color: #ece4da;
}

#header > .menu > ul > li > a {
	display: inline-block;
	padding: 15px;
}

#about {
	text-align: center;

}

#bio {
	display: inline-block;
}

#bio > h2 {
	margin: auto;
}

h3 {
	color: #80766a;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	color: #80766a;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#bio > p {
	line-height: 1.75em;
	text-indent: 50px;
	text-align: left;
}

#interests {
	display: inline-block;
	width: 100%;
}

#skills > h4, #hobbies > h4 {
	margin-top: 20px;
	margin-bottom: 0px;
}

#skills {
	display: inline-block;
	vertical-align: top;
	height: 300px;
	width: 300px;
}

#hobbies {
	display: inline-block;
	text-align: center;
	height: 300px;
	width: 300px;
	border-radius: 10%;
	background-color: #eaf4f6;
}

#hobbies > ul {
	list-style-type: circle;
	display: inline-block;
}

#hobbies > ul > li {
	text-indent: -5px;
	padding-right: 50px;
	margin-left: 20px;
	margin-top: 15px;
}

#experience {
	text-align: center;
}

#workExperience > h4, #extracurricular > h4 {
	margin-top: 15px;
	margin-bottom: 0px;
}

.job {
	display: inline-block;
	vertical-align: top;
	height: 300px;
	width: 300px;
	background-color: #eaf4f6;
	border-radius: 10%;
}

.content {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
}

.content > h4, .content > h5, .content > h6 {
	color: #80766a;
}

.content > h5 {
	font-size: 18px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.content > h6 {
	font-size: 15px;
	margin-top: 1px;
	margin-bottom: 2px;
}

.content > p {
	margin-left: 2px;
	margin-right: 2px;
}

#resume {
	text-align: center;
}

#resume > h3 {
	margin-bottom: 0px;
}

#imgHolder {
	height: 100%;
	width: 100%;
	display: inline-block;
}

#footer {
	width: 100%;
	bottom: 0;
	background-color: #7fc6db;
	text-align: center;
	margin-top: 40px;
}

.copyright > p {
	color: #80766a;
	display: inline-block;
}

#signature {
	font-family: "courier new";
}

#projects {
	text-align: center;
}

.proj {
	display: inline-block;
	vertical-align: top;
	background-color: #eaf4f6;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 10px;
}

.proj h4 {
	padding-top: 10px;
}

.projimg {
	width: 70%;
	height: 50%;
}

.proj p {
	margin: auto;
	padding: 15px 15px;
}
